#bp-widget.bp-widget-side {
    bottom: 7px;
    right: 7px;
    top: unset;
    width: 100% !important;
    height: 80% !important;
    z-index: 999;
}

#bp-widget.bp-widget-side .bp-widget-widget {
    width: 100% !important;
    height: 80% !important;
}

.bpw-widget-btn > i > svg {
  width: 20px;
  height: 20px;
}

.bp-widget-web {
    background: none transparent;
    border: none;
    display: block;
    font-size: 16px;
    letter-spacing: 0;
    max-height: 78vh !important;
    opacity: 1;
    padding: 0;
    position: fixed;
    transition: none;
    visibility: none;
    z-index: 20;
}

.bpw-bubble-proactive-trigger {
    display: none !important;
}

.bpw-floating-button {
    overflow : visible;
}
.bpw-button {
    font-size: 1rem !important;
    min-width: 4rem !important;
    padding: 10px !important;
}

.bpw-chat-container {
    border: .5px solid #9181f5;
    overflow: hidden;
    border-radius:25px;
    margin:20px 60px;
    height:calc(100% - 40px);
    overflow:hidden;
    max-width: 400px;
}

.bpw-layout {
    max-width: 400px;
}

.bpw-composer {
    padding-bottom: 0;
}

.bpw-composer textarea {
    font-size: 1rem;
}

.bpw-from-bot .bpw-chat-bubble.bpw-bubble-text > div {
    border-radius: 12px;
    border-bottom-left-radius: 4px;
}

.bpw-from-user .bpw-chat-bubble > div {
    border-radius: 12px;
    border-bottom-right-radius: 4px;
}

.bpw-header-container {
    border-top: none;
    padding-left: .5rem;
}

.bpw-header-title {
    font-size: 1.1rem;
}

.bpw-keyboard-quick_reply {
    background-color: transparent;
    padding: 0;
    text-align: left;
    border-top: none;
}

.bpw-keyboard-quick_reply button {
	     padding: 6px 8px;
     background-color: var(--main-bg-color);
     font-size: 12px;
     min-width: initial;
     min-height: initial;
     text-align: center;
     border: 1px solid currentColor;
     border-radius: 12px;
     cursor: pointer;
     margin: 3px 2px;
     text-transform: none;
     overflow: visible;
     color: #000;
     background: #f4f4f5;
     border: 1px solid #d4d4d8;
     border-top-width: 1px;
     border-right-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 1px;
     border-top-style: solid;
     border-right-style: solid;
     border-bottom-style: solid;
     border-left-style: solid;
     border-top-color: rgb(212, 212, 216);
     border-right-color: rgb(212, 212, 216);
     border-bottom-color: rgb(212, 212, 216);
     border-left-color: rgb(212, 212, 216);
     border-image-source: initial;
     border-image-slice: initial;
     border-image-width: initial;
     border-image-outset: initial;
     border-image-repeat: initial;
     border-radius: 12px;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
     border-bottom-right-radius: 12px;
     border-bottom-left-radius: 12px;
     padding: 6px 8px;
}

.bpw-keyboard-single-choice {
    padding: 0 !important;
}

.bpw-send-button {
    margin-bottom: .5rem;
    font-family: 'Roboto';
}

.bpw-widget-btn {
    border-radius: 50%;
    box-shadow: none;
    background-color: #ab0535;
    width: 65px;   /* Width of the button */
    height: 65px;  /* Height of the button */
    position: fixed;
    bottom: 50px;
    right: 50px;
}

body {
    font-size: 1rem !important;
    /* max-height: 73vh !important;*/
}

body >div:nth-child(3) {
    display: none;
}

@media (max-device-width: 768px) {
    #bp-widget.bp-widget-side {
        bottom: 0;
        right: 0;
        top: 0;
	left:0;
        width: 100% !important;
        height: 100% !important;
    }

    .bp-widget-web {
        max-height: 100vh !important;
        /* max-width: 100vw; */
        margin: 0 !important; /* Remove margin */
    }

    .bpw-chat-container {
        border: .5px solid #db3e1f;
        border-radius:25px;
        margin:0;
        height:calc(100%);
        overflow:hidden;
	width: 100% !important;
	max-width : 100% !important;
    }

    .bpw-button {
        font-size: 1rem !important;
    }
	
    .bpw-layout {
	    width : 100% !important;
	    max-width : 100% !important;
     }
	
     .bpw-widget-btn > i > svg {
            width: 30px;
            height: 30px;
     }

    .bpw-widget-btn {
        width: 75px;   /* Width of the button on mobile */
        height: 75px;  /* Height of the button on mobile */
        bottom: 50px;
        right: 50px;
    }

    .bpw-header-title,
    .bpw-header-name,
    .bpw-header-subtitle,
    .bpw-send-button,
    .bpw-composer {
        padding-left: 1rem !important;
    }

    body {
        max-height: 100vh !important;
    }
}



.bpw-date-container {
    margin-top:150px;
}
